/* Body container */
.container {
  max-width: 1000px;
  margin: 96px auto;
}

/* For the fonts, text color, and background color */
body {
  background-color: #c5f7db; /*e2f8ec*/
  font-family: 'Noto Sans', sans-serif;
  color: #333333;
}


h2,
h3,
h4 {
  font-family: 'Roboto Mono', monospace;
  margin-top: 24px;
  text-align: left;
  text-align: center;
}

h5{
  text-align: center;
  margin: auto;
  font-family: 'Roboto Mono';
  margin-top: 0px;
  margin-bottom: 100px;
  height: 2px;
  text-size-adjust: auto;
}

h1{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  text-decoration: navy;
  margin-top: 100px;
  margin-bottom: 100px;
}
/* content divider*/

hr {
  border: 0;
  margin: 100px 0;
  height: 2px;
  background-color: #f2fff8;
  text-align: center;
}

/* Styles for profile picture  */
.profile-picture {
  /*border-radius: 100%; - this makes it a circle*/ 
  width: 1000px;
  height: 500px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease-in-out 0.2s;
}

.profile-picture:hover {
  box-shadow: 0 8px 16px 0 rgba(34, 60, 80, 0.16);
}

/* About section */

.about-grid {
  display: grid;
  grid-template-columns: 100% ;
}

.about-section {
  text-align: center;
  text-decoration:none;
}

.about-list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin-left: 56px;
}

.specialty-grid {
  display: grid;
  grid-template-columns: 50% 50% ;
}

.specialty-section {
  text-align: left;
  text-decoration:none;
}

.specialty-list {
  /*list-style: ;*/
  text-align: left;
  padding: 0;
  margin-left: 56px;
}
.about-subheading {
  margin-left: 64px;
}

@media (max-width: 480px) {
  .about-grid {
    grid-template-columns: 100%;
  }
}

/* projects section */
/*
.heading {
  margin-top: 24px;
  text-align: center;
}
*/
.projects-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.project-image {
  justify-self: center;
  padding: 10%;
  width: 250x;
  height: 250px;
}

.contact-picture {
  justify-self: center;
  padding: 4%;
  border-radius: 50%;  
  width: 300px;
  height: 300px;
  /*box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);*/
  transition: all ease-in-out 0.2s;
}
@media (max-width: 650px) {
  .projects-grid {
    grid-template-columns: 100%;
  }
}

/* Styles for the footer  */

.contact {
  display: grid;
  grid-template-columns: 30% 70%;
}

.links {
  justify-self: center;
}

.links-list {
  list-style: none;
  padding: 0;
}
@media (max-width: 650px) {
  .links-and-contact {
    grid-template-columns: 100%;
  }
}

form input,
textarea {
  padding: 8px;
  border-radius: 8px;
  width: 240px;
}

form {
  width: 240px;
  margin: 0 auto;
}

form input[type='submit'] {
  width: 240px;
}

.submit-button-wrapper {
  margin: 8px 0;
}

.form-heading {
  margin-bottom: 8px !important;
}
